<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" th:href="@{/static/vendor/bootstrap.min.css}"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title th:text="${bookDetails.name}">Книга 1</title>
</head>
<body>

<div class="container">
    <h1 th:text="${bookDetails.name}">Книга 1</h1>

    <p>
        <strong>Автор:</strong>
        <span th:text="${bookDetails.authorName}">Автор 1</span>
    </p>
    <p>
        <strong>Жанры:</strong>
        <span th:text="${bookDetails.genreNames}">Жанр 1, Жанр 2</span>
    </p>
    <p th:if="${bookDetails.releaseYear != null}">
        <strong>Год выпуска:</strong>
        <span th:text="${bookDetails.releaseYear}">1985</span>
    </p>
    <p><a th:href="@{/books/{bookId}/comments(bookId=${bookDetails.id})}" href="listBookComments.html">Показать комментарии</a></p>
    <p><a th:href="@{/books/{bookId}/edit(bookId=${bookDetails.id})}" href="editBook.html">Редактировать книгу</a></p>
    <p><a th:href="@{/books/{bookId}/delete(bookId=${bookDetails.id})}" href="listAllBooks.html">Удалить книгу</a></p>
</div>

<script th:src="@{/static/vendor/jquery-3.5.1.min.js}"
        src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script th:src="@{/static/vendor/bootstrap.min.js}"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>