<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" th:href="@{/static/vendor/bootstrap.min.css}"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Все книги</title>
</head>
<body>

<div class="container">
    <h1>Все книги</h1>
    <ul>
        <li th:each="book : ${books}">
            <a th:href="@{/books/{id}(id=${book.id})}" th:text="${book.name}">Книга 1 (Автор 1, 1234)</a>
        </li>
    </ul>
</div>

<script th:src="@{/static/vendor/jquery-3.5.1.min.js}"
        src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script th:src="@{/static/vendor/bootstrap.min.js}"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>