<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="csvUtils" class="ru.otus.studenttester.utils.CsvUtils"/>

    <bean name="testItemDao" class="ru.otus.studenttester.dao.QuizItemDaoImpl">
        <constructor-arg name="filename" value="/quiz-items.csv"/>
        <constructor-arg name="csvUtils" ref="csvUtils"/>
    </bean>

    <bean name="testItemService" class="ru.otus.studenttester.service.QuizItemServiceImpl">
        <constructor-arg name="dao" ref="testItemDao"/>
    </bean>

</beans>